@import url("main.css");

h1{
    border-bottom: 3px solid var(--color-accent); /* Linha divisória vibrante */
}

section {
    background-color: var(--color-surface);
    padding: var(--space-sm);
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: var(--space-xl);
}